body {
    padding: 0px;
    margin: 0px;
}

.container {
    background-color: transparent;
}

#navbar{
    background-color: white;
}

/* header */
.menutop {
    padding: 22px;
}

.brand {
    font-weight: 700;
    letter-spacing: .3px
}

.list-unstyled {
    margin-left: 150px;
}

.list-unstyled li a {
    font-size: 18px;
    text-decoration: none;
    color: black;
}
.image-grid img:hover{
     transform: scale(0.9);
    transition: 0.3s;
}
#list a {
    border-bottom: 2px solid transparent;
    margin-right: 16px;
}

#list a:hover {
    border-bottom: 4px solid #02c9d3;
    text-shadow: 4px 4px 7px rgb(134, 133, 133);
    /**/
    color: #02d2dd;
    transform: scale(1.0);
    transition: 0.3s;
}

#navbar button.signin {
    background-color: #138086;
    color: white;
    border-radius: 20px;
    padding: 7px 25px 7px;
}

#navbar button.signin:hover {
    background-color: rgb(255, 255, 255);
    color: #138086;
    box-shadow: 3px 5px 9px #138086;
}





/*discover*/

.discover {
    background-image: url(image/task5backimg.png);
    background-position: center;
    background-size: cover;

}

.hero-section {
    padding: 80px 20px;
}

.hero-title {
    font-size: 2.5rem;
    font-weight: 700;
}

.highlight {
    color: #ff7f50;
}

.hero-text {
    color: #555;
    margin-top: 15px;
    margin-bottom: 30px;
    line-height: 1.6;
}

.btn-orange {
    background-color: #ff7f50;
    border: none;
    color: white;
    font-weight: 600;
    border-radius: 25px;
    padding: 10px 25px;
}

.image-grid img {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 15px;
}

#Destinations button {
    background-color: #138086;
    border-radius: 20px;
    color: white;
    padding: 8px 24px;
    border: none;
}

#Destinations button:hover {
    background-color: rgb(255, 255, 255);
    color: #138086;
    box-shadow: 3px 5px 9px #138086;
}


.top h1 {
    margin-top: 15px;
    text-shadow: 0 2px 13px #1E90FF;
}
.top h1:hover{
    color:#0fbdc3 ;
    text-shadow: 0 0 8px gray;   
}

.papular {
    display: flex;
    justify-content: space-evenly;

}

.papular p:hover {
    color: #02d2dd;
    /**/
    transform: scale(1.1);
    transition: 0.3s;
    text-shadow: 2px 2px 5px gray;
    border-bottom: 4px solid rgb(2, 226, 204);
    cursor: pointer;
}




/* cards */
#Inspiration h1{
    text-shadow: 0 0 8px #1E90FF;
}
#Inspiration h1:hover{
    color:#0fbdc3 ;
    text-shadow: 0 0 8px gray; 
}
.card-dest {
    background: var(--card);
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 6px 18px rgba(19, 19, 19, 0.06);
}

.card-dest img {
    width: 70%;
    height: 200px;
    object-fit: cover;
}

.chip {
    background: #fff;
    padding: 6px 12px;
    border-radius: 999px;
    border: 1px solid #eee
}

.card-img-top:hover {
    transform: rotate(7deg);
    transition: 0.4s;
    opacity: 0.7;
    transition: 0.3s;
    cursor: pointer;

}

.topimg h6:hover {
    color: #00c5cf;
    cursor: pointer;
    text-shadow: 2px 2px 8px gray;
}



/* stories */
.burgerimg {
    background-image: url(image/task5\ burger.png);
    background-position: center;
    background-size: cover;
    height: 300px;
    border-radius: 20px;
    margin-bottom: 30px;
}

.story-card {
    display: flex;
    gap: 16px;
    align-items: flex-start
}

.story-card img {
    margin-right: 20px;
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-radius: 10px
}

.story-card img:hover {
    transform: scale(1.1);
    transition: 0.3s;
    opacity: 0.7;
}

.storycontent h6:hover {
    color: #010101;
    text-shadow: 2px 2px 8px rgb(0, 118, 122);
    cursor: pointer;
}




/* trekker */
.trekker h1:hover{
   color: #00c5cf;
    cursor: pointer;
    text-shadow: 2px 2px 8px gray;
    
}
.trekker img:hover {
    transform: scale(0.9);
    transition: 0.3s;
    opacity: 0.7;
}

.trekkerimg img {
    width: 78px;
    height: 78px;
    border-radius: 50%;
}

.trekkerimg2 {
    display: flex;
    gap: 7px;
}



/* newsletter */
.newsletter {
    background-image: url(image/task5\ desetmountain.png);
    background-size: cover;
    background-position: center;
    color: #fff;
    border-radius: 14px;
    padding: 50px;
    height: 400px;
}

.newsletter .form-control {
    max-width: 420px
}

.Subscribe{
    background-color: #138086;
    color: white;
    border-radius: 20px;
    padding: 5px 25px 5px;
    border: none;
}
.Subscribe:hover{
    background-color: rgb(255, 255, 255);
    color: #138086;
    box-shadow: 3px 5px 9px #138086;

}

.last {
    display: flex;
    justify-content: space-around;
}

